<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.armpatch.android.workouttracker">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher"
                 android:supportsRtl="false"
                 android:theme="@style/AppTheme"
                 tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.WorkoutViewerActivity"
                android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ExerciseSelectionActivity" />
        <activity android:name=".activity.ExerciseTrackerActivity" />
        <activity android:name=".activity.CreateExerciseActivity" />

    </application>
</manifest>
